@font-face {
	font-family: "icomoon";
	src: url("../fonts/icomoon.eot?gdtl95");
	src: url("../fonts/icomoon.eot?gdtl95#iefix") format("embedded-opentype"),
		  url("../fonts/icomoon.ttf?gdtl95") format("truetype"),
		  url("../fonts/icomoon.woff?gdtl95") format("woff"),
		  url("../fonts/icomoon.svg?gdtl95#icomoon") format("svg");
	font-weight: normal;
	font-style: normal;
}


html,
body {
	height: 100%;
}

body {
	background-color: #f8f8f8;
	font-family: Arial, sans-serif;
}

.hide {
	display: none;
}

.loading *[data-cloak] {
	opacity: 0;
}

*[data-cloak] {
	opacity: 1;
	transition: opacity 1s;
}

.loading .navbar:after {
	display: block;
}


/*-----------
-- BUTTONS --
-----------*/

.button {
	background-color: #000;
	border: 0;
	border-radius: 0;
	color: #fff;
	display: inline-block;
	font-size: 14px;
	font-weight: normal;
	height: 30px;
	line-height: 30px;
	padding: 0 8px;
	text-decoration: none;
	vertical-align: middle;
}

.button:not(.disabled):hover {
	background-color: #32363c;
}

.button.disabled {
	cursor: default;
	opacity: 0.3;
}

.button .icon {
	color: #fff;
	display: inline-block;
	font-size: 19px;
	font-weight: normal;
	height: 30px;
	line-height: 30px;
	margin-right: 4px;
	margin-top: 0;
	vertical-align: top;
}

.button .icon:before {
	content: "";
	display: inline-block;
	font-family: icomoon;
}

.button .icon-new:before {
	color: #e7b453;
	content: "\e3c4";
}

.button .icon-duplicate:before {
	color: #e7b453;
	content: "\e3d3";
	font-size: 15px;
}

.button .icon-save:before {
	color: #85a9e4;
	content: "\e2c2";
}

.button .icon-preview:before {
	color: #8fc06a;
	content: "\e30b";
}

.button .icon-remove:before {
	color: #d0211a;
	content: "\e92b";
}

.button .icon-open:before {
	color: #3c97ec;
	content: "\e2c8";
	font-size: 17px;
}

.button .icon-admin:before {
	color: #8fc06a;
	content: "\e254";
}

.button:not(.disabled).remove:hover {
	background-color: #d0211a;
	color: #fff;
}

.button:not(.disabled).remove:hover .icon:before {
	color: #fff;
}

/*----------
-- HEADER --
----------*/

.header {
	background: #40474c;
	box-sizing: border-box;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	height: 56px;
	left: 0;
	margin: 0;
	padding: 13px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 15;
}

.menu {
	display: block;
	float: left;
	margin: 0;
	padding: 0;
}

.menu .button {
	margin: 0 7px 0 0;
}

.admin-menu {
	float: right;
}

.admin-menu .button {
	margin-right: 0;
	margin-left: 7px;
}

.page-nav-holder {
	left: 0;
	margin-left: 330px;
	position: absolute;
	top: 0;
}

.page-nav-holder .menu {
	display: inline-block;
	float: none;
	padding-bottom: 13px;
	padding-left: 9px;
	padding-top: 13px;
	vertical-align: top;
}

.main-title {
	background: #f8f8f8;
	box-sizing: border-box;
	color: #40474c;
	display: inline-block;
	font-size: 18px;
	font-weight: normal;
	height: 56px;
	line-height: 30px;
	margin: 0;
	padding: 13px;
	text-align: center;
}

.main-title .unsaved {
	font-style: italic;
}

/*-----------
-- HOLDERS --
-----------*/

.app {
	box-sizing: border-box;
	height: 100%;
	padding-top: 56px;
}

/*------------
-- SIDEBARS --
------------*/

.sidebar {
	background-color: #2e3134;
	bottom: 0;
	box-sizing: border-box;
	color: #fff;
	overflow-y: auto;
	padding: 10px;
	padding: 26px 13px;
	position: fixed;
	top: 56px;
	width: 330px;
	z-index: 15;
}

.sidebar .title {
	border-bottom: 1px solid #405050;
	color: #c8c8c8;
	font-size: 16px;
	font-weight: normal;
	margin: 0 0 18px;
	padding: 0 0 15px 0;
}

.sidebar .search {
	background-color: #fafafa;
	border: 0;
	box-sizing: border-box;
	color: #666;
	display: block;
	font-size: 12px;
	margin-bottom: 18px;
	padding: 8px 10px;
	width: 100%;
}

.sidebar .filter-no-results {
	display: block;
	margin: 10px 0;
}

.sidebar .list-group-item {
	background-color: #4b5054;
	border-radius: 0;
	border: 0;
	color: #fff;
	display: block;
	padding: 8px 10px;
	margin-bottom: 6px;
	text-decoration: none;
}

.sidebar .list-group-item:first-child {
	margin-top: 0;
}

.sidebar .list-group-item:hover {
	background-color: #555c61;
}

.sidebar .list-group-item.active {
	background-color: #6d777e;
	color: #c8c8c8;
}

.sidebar .list-inline li {
	padding: 0;
}

.sidebar .thumbnail {
	box-sizing: border-box;
	display: block;
	margin-bottom: 13px;
	transition: border 0.8s;
	vertical-align: top;
}

.sidebar img {
	display: block;
	width: 100%;
}

.sidebar .thumb-label {
	background: rgba(0, 0, 0, 0.5);
	box-sizing: border-box;
	color: #fff;
	display: block;
	font-size: 16px;
	height: 100%;
	left: 0;
	opacity: 0;
	overflow: hidden;
	padding: 13px;
	position: absolute;
	top: 0;
	transition: opacity 0.3s ease;
	width: 100%;
}

.sidebar .thumbnail:hover .thumb-label {
	opacity: 1;
}


.sidebar-modules {
	left: 0;
}

.sidebar-page-list {
	left: 0;
	transform: translateX(-100%);
	transition: transform 0.3s ease;
	z-index: 16;
}

.sidebar-page-list.show {
	transform: translateX(0);
}

/*----------
-- EDITOR --
----------*/

.editor-wrapper {
	height: 100%;
	margin: 0 0 0 330px;
	padding: 50px 0 0;
	box-sizing: border-box;
}

.editor {
	height: 100%;
	margin: 0 auto;
	max-width: 900px;
	position: relative;
}

.editor-message {
	background: #ddd;
	color: #fff;
	font-size: 14px;
	padding: 10px 20px;
	text-align: center;
	text-transform: uppercase;
}

.editor .editor-message {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	z-index: 5;
}

.editor-content {
	min-height: 100%;
	position: relative;
}

.editor-content img {
	display: block;
	margin: 0 auto;
}

.editor.active .editor-content {
	background-color: #fff;
}

.editor .thumbnail,
.preview-content .thumbnail {
	background: none;
	border: 0;
	margin: 0;
	padding: 0;
}

.editor-content .gu-transit {
	background: #ccc;
	box-shadow: 0 0 0 5px #999 inset;
	display: block;
	min-height: 60px;
	position: relative;
}

.editor-content .gu-transit:before,
.editor-content .gu-transit:after {
	border: 10px solid #777;
	border-left-color: transparent;
	border-right-color: transparent;
	content: "";
	height: 0;
	left: 50%;
	overflow: hidden;
	position: absolute;
	width: 0;
}

.editor-content .gu-transit:before {
	border-top: 0;
	top: 50%;
	margin-top: -13px;
}

.editor-content .gu-transit:after {
	border-bottom: 0;
	bottom: 50%;
	margin-bottom: -13px;
}

.thumbnail {
	position: relative;
	cursor: move;
	cursor: -webkit-grab;
}

.thumbnail .remove {
	cursor: pointer;
	display: none;
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 3;
}

.editor .thumbnail:hover .remove {
	display: block;
}

.editor-content .thumbnail {
	display: block;
	transition: opacity 0.5s;
}

.editor-content .thumbnail img {
	width: 100%;
	display: block;
}

.editor-content .thumbnail:hover img {
	opacity: 0.7;
}

.editor-content .thumbnail:hover:after {
	border: 1px solid #efefef;
	box-sizing: border-box;
	content: "";
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 0;
}

.gu-transit .remove {
	display:none;
}

.editor-content .gu-transit img {
	visibility: hidden;
}

/*------------
-- DRAG ELM --
------------*/

.gu-mirror {
	background: none;
	border: none;
	display: block;
	width: 304px;
	cursor: move;
	cursor: -webkit-grabbing;
}

.gu-mirror img {
	width: 100%;
	display: block;
}

.editor .thumb-label,
.gu-mirror .thumb-label {
	display: none;
}
